.btn {
  margin: 2px;
  padding: 4px;
  background: #ccc;
  border: black solid 1px;
  border-radius: 4px;
  font-size: 2vmax;
  cursor: pointer;
}

.btn-operator{
  background: #e48800
}

.btn-zero {
  grid-column: span 2;
}

.btn-clear {
  background-color: #c00;
  grid-column: span 2;
}

.btn-delete{
  background: #333;
  color: #ccc;
}