.screen {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.screen-top {
  display: flex;
  align-items: flex-end;
  min-height: 40px;
  border: black solid 1px;
  flex: 1 1;
}
.screen-bottom {
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  border: black solid 1px;
  flex: 2 0.5;
}