/* Default React CSS */
.App { text-align: center; }
.App-logo { height: 40vmin; }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link { color: #09d3ac; }

/* Custom CSS */
html,
body,
#root,
.fillscreen {
  width: 100%;
  height: 100%;
}

.fillscreen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}

.header {
  padding: 8px;
  background: #777;
  color: white;
  text-align: right;
  z-index: 999;
}

.calculator { 
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  margin: auto;
  padding: 8px;
  border: black solid 1px;
  border-radius: 8px;
  flex: 1 1;
}