.header-button {
    display: inline;
    margin: 0;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #aaa;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  
  a:link.header-button,
  a:visited.header-button,
  a:hover.header-button {
    color: white;
  }
  
  :active.header-button,
  a:active.header-button {
    color: black;
  }
  